.main {
  display: block;
}

.content {
  grid-area: c;
  padding: 1rem 2rem;
}

@media (min-width: 768px) {
  .main {
    align-self: stretch;

    display: grid;
    grid-template-areas: 's c';
    grid-template-columns: 256px auto;
    grid-template-rows: 100%;
  }
  .content {
    padding-block-start: 4rem;
  }
}
